{% extends 'base.html' %}

{% block content %}
<h1 class="mt-5">Minha agenda</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Telefone</th>
      <th>Categoria</th>
    </tr>
  </thead>
  <tbody>
  {% for contact in contacts %}
    <tr>
      <td>
        <a href="{% url 'show_contact' contact.id %}"> {{ contact.first_name }}</a>
      </td>
      <td>{{ contact.last_name }}</td>
      <td>{{ contact.number_phone }}</td>
      <td>{{ contact.category }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock  %}
