{% extends 'base.html' %}

{% block content %}
  <h1 class="mt-5">{{ contact.first_name }} {{ contact.last_name }}</h1>
  <dl>
    <dt>ID</dt>
    <dd>{{ contact.id }}</dd>

    <dt>Telefone</dt>
    <dd>{{ contact.number_phone }}</dd>

    <dt>E-mail</dt>
    <dd>{{ contact.email }}</dd>

    <dt>Data criação</dt>
    <dd>{{ contact.created_at|date:'d/m/Y' }}</dd>

    <dt>Categoria</dt>
    <dd>{{ contact.category }}</dd>

    <dt>Descrição</dt>
    <dd>
      {{ contact.description }}
    </dd>
  </dl>
{% endblock  %}
